<div class="search-form" [formGroup]="searchForm">
    <div class="form-row">
      <div class="form-group">
        <dx-date-box
          id="trxDataDal"
          formControlName="trxDataDal"
          type="date"
          label="Data Dal"
          format="dd/MM/yyyy"
          displayFormat="dd/MM/yyyy"
          (onValueChanged)="onDateDalChanged($event)"
        ></dx-date-box>
      </div>

      <div class="form-group">
        <dx-date-box
          id="trxDataAl"
          formControlName="trxDataAl"
          type="date"
          label="Data Al"
          format="dd/MM/yyyy"
          displayFormat="dd/MM/yyyy"
          (onValueChanged)="onDateAlChanged($event)"
        ></dx-date-box>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <dx-number-box
          id="trxImpopeDA"
          formControlName="trxImpopeDA"
          placeholder="Importo Da"
          label="Importo Da"
          format="#,##0.00"
        ></dx-number-box>
      </div>

      <div class="form-group">
        <dx-number-box
          id="trxImpopeA"
          formControlName="trxImpopeA"
          placeholder="Importo A"
          label="Importo A"
          format="#,##0.00"
        ></dx-number-box>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <dx-text-box
          id="trxCassa"
          formControlName="trxCassa"
          placeholder="Codice Cassa"
          label="Cassa"
        ></dx-text-box>
      </div>

      <div class="form-group">
        <dx-autocomplete
          id="trxLocalita"
          formControlName="trxLocalita"
          placeholder="Località"
          label="Località"
          [items]="branches()"
          displayExpr="braDes"
          valueExpr="braId"
        ></dx-autocomplete>
      </div>

      <div class="form-group">
        <dx-autocomplete
          id="trxCutId"
          formControlName="trxCutId"
          placeholder="Genere"
          label="Genere"
          [items]="currencyTypes()"
          displayExpr="cutDes"
          valueExpr="cutId"
        ></dx-autocomplete>
      </div>

      <div class="form-group">
        <dx-check-box
          id="trxReverse"
          formControlName="trxReverse"
          [value]="true"
          text="Transazioni Inverse"
        ></dx-check-box>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <dx-autocomplete
          id="trxOptId"
          formControlName="trxOptId"
          placeholder="Tipo operazione"
          label="Tipo operazione"
          [items]="stOperationsTypes()"
          displayExpr="optDes"
          valueExpr="optId"
        ></dx-autocomplete>
      </div>

      <div class="form-group">
        <dx-autocomplete
          id="trxDivope"
          formControlName="trxDivope"
          placeholder="Divisa"
          label="Divisa"
          [items]="currencies()"
          displayExpr="curLondes"
          valueExpr="curId"
        ></dx-autocomplete>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <dx-text-box
          id="arcAppName"
          formControlName="arcAppName"
          placeholder="Nome Applicazione"
          label="Nome Applicazione"
        ></dx-text-box>
      </div>

      <div class="form-group">
        <dx-check-box
          id="arcForced"
          formControlName="arcForced"
          [value]="true"
          text="Forzato"
        ></dx-check-box>
      </div>
    </div>

    <div class="form-group button-group" style="justify-content: flex-end;">
        <dx-button
          text="Ricerca"
          type="success"
          (onClick)="search()"
          [disabled]="isLoading()"
        ></dx-button>
      </div>
  </div>