<div class="control-assign-container" style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 20px; width: 100%; align-items: stretch; justify-content: space-between;">
  <div style="flex: 1 1 250px;">
    <dx-data-grid
      [dataSource]="assignedRoles()"
      [showBorders]="true"
      height="180"
      keyExpr="roleId"
      noDataText="Nessuna periferica assegnata"
      [(selectedRowKeys)]="selectedAssignedRoleKeys">
      <dxo-selection mode="single"></dxo-selection>
      <dxi-column dataField="roleName" caption="Periferiche Assegnate"></dxi-column>
    </dx-data-grid>
  </div>

  <div id="moveleftRight" style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 10px;">
    <dx-button text="<<" type="default" [disabled]="disabled" (onClick)="addRole()"></dx-button>
    <dx-button text=">>" type="default" [disabled]="disabled" (onClick)="removeRole()"></dx-button>
  </div>

  <div id="ruoliPossibili" style="flex: 1 1 250px;">
    <dx-data-grid
      [dataSource]="possibleRoles()"
      [showBorders]="true"
      height="180"
      keyExpr="roleId"
      noDataText="Nessuna periferica disponibile"
      [(selectedRowKeys)]="selectedPossibleRoleKeys">
      <dxo-selection mode="single"></dxo-selection>
      <dxi-column dataField="roleName" caption="Periferiche Disponibili"></dxi-column>
    </dx-data-grid>
  </div>
</div>
