<div class="float-bar">
  @if (showIndietro) {
    <dx-button
      text="Indietro"
      icon="arrowleft"
      stylingMode="outlined"
      class="btn-secondary"
      (onClick)="indietro.emit()">
    </dx-button>
  }
  @if (showAnnulla) {
    <dx-button
      text="Annulla"
      icon="remove"
      stylingMode="outlined"
      class="btn-secondary"
      (onClick)="annulla.emit()">
    </dx-button>
  }
  @if (showModifica) {
    <dx-button
      text="Modifica"
      icon="edit"
      stylingMode="outlined"
      class="btn-secondary"
      (onClick)="modifica.emit()">
    </dx-button>
  }
  @if (showAltreAzioni && altreAzioniItems.length > 0) {
    <dx-drop-down-button
      text="Altre azioni"
      icon="overflow"
      stylingMode="outlined"
      class="btn-secondary"
      [items]="altreAzioniItems"
      keyExpr="id"
      displayExpr="text"
      (onItemClick)="altreAzioniClick.emit($event)">
    </dx-drop-down-button>
  }
  <ng-content></ng-content>
  <dx-button
    [text]="confirmLabel"
    icon="check"
    class="btn-confirm"
    [disabled]="confirmDisabled"
    (onClick)="conferma.emit()">
  </dx-button>
</div>
