<dx-data-grid
  [dataSource]="dataSource"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [allowColumnReordering]="true"
  [allowColumnResizing]="true"
  columnResizingMode="nextColumn"
  [selection]="{ mode: 'single' }"
  [height]="'100%'"
  (onSelectionChanged)="selectionChanged.emit($event)">

  <dxo-paging [pageSize]="pageSize"></dxo-paging>
  <dxo-pager
    [showInfo]="true"
    infoText="{2} ruoli"
    [showPageSizeSelector]="false"
    [showNavigationButtons]="true"
    displayMode="full">
  </dxo-pager>

  <dxi-column dataField="roleId"   caption="Role ID" width="80" dataType="number" alignment="center"></dxi-column>
  <dxi-column dataField="roleName" caption="Ruolo"></dxi-column>

</dx-data-grid>
