<div class="popup-action-bar">
  <div class="popup-actions-secondary">
    <ng-content select="[secondary-actions]"></ng-content>
    @if (showStorico) {
      <app-sempione-button text="Storico" icon="clock" variant="secondary" (clicked)="storico.emit()"></app-sempione-button>
    }
  </div>
  <div class="popup-actions-primary">
    <app-sempione-button [text]="cancelText" (clicked)="cancel.emit()"></app-sempione-button>
    @if (showSave) {
      <app-sempione-button
        [text]="isSaving ? 'Salvataggio...' : saveText"
        [icon]="saveIcon"
        variant="primary"
        [disabled]="isSaving"
        (clicked)="save.emit()">
      </app-sempione-button>
    }
  </div>
</div>
