// =============================================================================
// APP NAME - Nome applicativo enterprise
// =============================================================================

.app-name {
  font-size: 3.5rem;
  // font-weight: 700;
  color: var(--dx-color-primary);
  // color: #11274d;
  
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0px;
  margin-bottom: 6px;
  // line-height: 2.5rem;
  // letter-spacing: -0.02em;
  user-select: none;
}
